/* CSS for large screens */
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

/* CSS for medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 95%;
  }
}

/* CSS for small screens */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.grid{
  grid-template-columns: 1fr 7fr;
}